.timeline
  .timeline-item
    display: flex
    display: -ms-flexbox
    display: -webkit-flex
    margin-bottom: 2.4rem
    position: relative
    &::before
      background: #f0f1f4
      content: ""
      height: 100%
      left: 1.1rem
      position: absolute
      top: 2.4rem
      width: .2rem

    .timeline-left
      -webkit-flex: 0 0 auto
      -ms-flex: 0 0 auto
      flex: 0 0 auto

    .timeline-content
      -webkit-flex: 1 1 auto
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      padding: .2rem 0 .2rem 1.5rem

    .timeline-icon
      border-radius: 50%
      color: #fff
      display: block
      height: 2.4rem
      text-align: center
      width: 2.4rem
      &::before
        border: .2rem solid $primary
        border-radius: 50%
        content: ""
        display: block
        height: .8rem
        left: .8rem
        position: absolute
        top: .8rem
        width: .8rem
      .icon
        height: 100%
        width: 100%
      &.icon-lg
        background: $primary
        font-size: 1.6rem
        line-height: 2rem
        &::before
          content: none
