$timeline-icon-border-radius: .5rem
$timeline-line-color: #f0f1f4 !default
$timeline-line-width: .2rem !default
$timeline-content-padding: .2rem 0 .2rem 1.5rem !default

.timeline
  .timeline-item
    display: flex
    display: -ms-flexbox
    display: -webkit-flex
    margin-bottom: 2.4rem
    position: relative
    &::before
      background: $timeline-line-color
      content: ""
      height: 100%
      left: 1.1rem
      position: absolute
      top: 2.4rem
      width: $timeline-line-width

    .timeline-left
      -webkit-flex: 0 0 auto
      -ms-flex: 0 0 auto
      flex: 0 0 auto

    .timeline-content
      -webkit-flex: 1 1 auto
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      padding: $timeline-content-padding

    .timeline-icon
      border-radius: $timeline-icon-border-radius
      color: #fff
      display: block
      height: 2.4rem
      text-align: center
      width: 2.4rem
      &::before
        border: .2rem solid $primary
        border-radius: $timeline-icon-border-radius
        content: ""
        display: block
        height: .8rem
        left: .8rem
        position: absolute
        top: .8rem
        width: .8rem
      .icon
        height: 100%
        width: 100%
      &.is-icon-large
        background: $primary
        &::before
          content: none
        .icon
          font-size: $size-5 !important
          line-height: $size-5 !important

    @each $name, $pair in $colors
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-timeline-item-#{$name}
        .timeline-icon
          &.is-icon-large
            background: $color
          &::before
            border: .2rem solid $color !important
          .icon
            color: $color-invert
